@model IEnumerable<Agency.Models.Ad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        var images = document.getElementsByClassName('preview');
        var path = document.getElementsByClassName('hiddenImages');
        var separator = ";";
        for (var i = 0; i < path.length; i++)
        {
            var string = path[i].value;
            var arrayOfStrings = string.split(separator);
            images[i].src = arrayOfStrings[0];
        }
    });
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUBLISHED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJ.FLOOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJ.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJ.ROOMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJ.OBJECT_KIND.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJ.OBJECT_TYPE.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJ.IMAGE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUBLISHED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJ.FLOOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJ.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJ.ROOMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJ.OBJECT_KIND.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJ.OBJECT_TYPE.NAME)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.OBJ.IMAGE, new { @class="hiddenImages" })
            <img id="@item.Id" class="preview"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
