
@{
    ViewBag.Title = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager</h2>
<div class="col-md-4"></div>
<div class="col-md-4">
    <ul>
        <li>@Html.ActionLink("Разместить объявление", "../AddAd/Create")</li>
        <li>@Html.ActionLink("Типы недвижимости", "../OBJECT_TYPE/Index")</li>
        <li>@Html.ActionLink("Виды недвижимости", "../OBJECT_KIND/Index")</li>
        <li>@Html.ActionLink("Типы объявлений", "../AD_TYPE/Index")</li>
        <li>@Html.ActionLink("Разместить объявление", "../OBJECT_TYPE/Index")</li>
    </ul>
   
   
   
   
</div>
<div class="col-md-4"></div>